@import url('http://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 1s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #FFFFFF;
}

html::-webkit-scrollbar-thumb{
    background: #FF7D1C;
}

section{
    padding: 5rem 9%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.header.active{
    background: #2b2928;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.header .logo{
    margin-right: auto;
    font-size: 2.5rem;
}

.header .logo i{
    color: #FFA520;
}

.header .navbar a{
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: orange;
}

.header .navbar a:hover{
    color: #219150;
    opacity: 1;
    background: rgb(0, 166, 255);
    box-shadow: 0 0 20px  rgb(0, 166, 255), 0 0 40px  rgb(0, 225, 255), 0 0 80px  rgb(0, 166, 255);
}

.header .navbar #nav-close{
    font-size: 5rem;
    cursor: pointer;
    color: #10221b;
    display: none;
}

.header .icons a,
.header .icons div{
    font-size: 3.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #FFA520;
}

.header .icons a:hover,
.header .icons div:hover{
    color: #337212;
}

.header #menu-btn{
    display: none;
}

.heading{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    color: #3C8527;
}

.heading span{
    color: #FFA520;
}

.btn{
    margin: auto;
    padding: 10px 20px;
    border: none;
    background: #FFB054;
    color: #6F2900;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-shadow: 0 2px #FFCC6A;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: inset 0 4px #fce07e, inset 0 -4px #d0750a, inset 4px 0 #df8318, inset -4px 0 #ffbb54;
    transition: all .25s,opacity .75s .5s;
    user-select: none;
    cursor: pointer;
    pointer-events: all;
}

.btn:hover{
    background: #313131;
    box-shadow: inset 0 4px #808080, inset 0 -4px #000000, inset 4px 0 #000000, inset -4px 0 #313131;
    color: #FFFFFF;
}

.home{
    padding:0;
}

.home .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center;
    justify-content: center;
    padding: 2rem 9%;
    position: relative;
}

.home .box .content{
    width: 45rem;
    height: 25rem;
    justify-content: center;
    position: absolute;
}

.home .box .content img{
    align-items: center;
}

.home .box .content .btn{
    margin: 15rem;
    position: relative;
    top: 8rem;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 3rem;
    color: #FFB054;
}

.category{
    background-image: url('background1.jpg');
}

.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,2fr));
    gap: 1.5rem;
}

.category .box-container .box{
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    border: 0.2rem solid #FFA520;
    overflow: hidden;
    background-color: #181818;
}

.category .box-container .box img{
    height: 328px;
    width: 100%;
    border-radius: 50;
    margin-bottom: 1rem;
    object-fit: cover;
}

.category .box-container .box:hover{
    transform: scale(0.9);
}

.category .box-container .box h3{
    font-size: 2rem;
    color: #FFA520;
}



.category .box-container .box p{
    font-size: 1.5rem;
    color: #3C8527;
    padding: 1rem 0;
}

/* ABOUT */
.about{
    background-image: url('background1.jpg');
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

.about img{
    position: relative;
}

.about .img:hover img{
    transform: scale(1.2) rotate(5deg);
}

.about .img img{
    box-shadow: 0 0 2rem 2rem rgba(184, 93, 8,0.664);
    border: 0.2rem solid #FFA520;
}

.about .content{
    position: absolute;
    top: 5;
    left: 5;
    width: 750px;
}

.about .content h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.about .content p{
    font-size: 17px;
    color: #FFFFFF;
    margin-bottom: 25px;
    padding: 0;
    line-height: 26px;
}

/* SHOP */

.shop{
    background-image: url('background1.jpg');
}

.shop .slide{
    border: 0.2rem solid #FFA520;
    background-color: #181818;
}

.shop .slide:hover .img .icons{
    transform: translateY(0);
}

.shop .slide .img{
    position: relative;
    overflow: hidden;
    height: 40rem;
    width: 100%;
}

.shop .slide .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.shop .slide .img .icons{
    width: 100%;
    position: absolute;
    bottom: 2rem;
    left: 0;
    text-align: center;
    z-index: 10;
    transform: translateY(7rem);
}

.shop .slide .img .icons a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    background: #FFA520;
    color: #FFFFFF;
    margin: 0.2rem;
}

.shop .slide .img .icons a:hover{
    background: #3C8527;
}

.shop .slide .content{
    padding: 1rem 0;
    text-align: center;
}

.shop .slide .content h3{
    font-size: 2rem;
    color: #FFA520;
}

.shop .slide .content .price{
    padding: 1rem 0;
    padding-top: .5rem;
    font-size: 2rem;
    color: #3C8527;
}

.shop .slide .content .starts i{
    font-size: 1.7rem;
    color: #FFA520;
}


/* GALLERY */
.galheading{
    background-image: url('background1.jpg');
    bottom: 10;
}
.gallery{
    background-image: url('background1.jpg');
}

.gallery .slide{
    border: 0.2rem solid #FFA520;
    background-color: #181818;
}

.gallery .slide:hover .img .icons{
    transform: translateY(0);
}

.gallery .slide .img{
    position: relative;
    overflow: hidden;
    height: 45rem;
    width: 100%;
    
}

.gallery .slide .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .slide .content{
    padding: 1rem 0;
    text-align: center;
}

.gallery .slide .content h3{
    font-size: 2rem;
    color: #FFA520;
}

.gallery .slide .content .price{
    padding: 1rem 0;
    padding-top: .5rem;
    font-size: 2rem;
    color: #3C8527;
}

.gallery .slide .content .starts i{
    font-size: 1.7rem;
    color: #FFA520;
}















/* REVIEWS */



  form {
     max-width: 600px;
     text-align: center;
     margin: 20px auto;
  }
  
  
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .right { width: 50%; }
  
  .left {
       margin-right: 2%; 
  }
  
  
  @media (max-width: 480px) {
    .half {
       width: 100%; 
       float: none;
       margin-bottom: 0; 
    }
  }
  
  
  /* Clearfix */
  .cf:before,
  .cf:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  .cf:after {
      clear: both;
  }

body{

    margin-top:20px !important;

}

h3, p{

    margin: 0;

}

a:hover,

a:focus{

    text-decoration: none !important;

}

.testimonial{

    margin:0px 50px;

    background-color: whitesmoke;

    color: #3C8527;

    text-align: center;

}

.testimonial .testimonial-content{

    padding: 40px 30px 40px;

    border-top: 1px solid #FFA520;

    border-left: 1px solid #FFA520;

    position: relative;

    margin-bottom: 50px;

    font-size: 15px;

    line-height: 30px;

    text-align: left;

}

.testimonial .testimonial-content:before{

    content: "\f10e";

    font-family: fontawesome;

    display: inline-block;

    padding:0 15px 5px 0;

    font-size: 30px;

    text-align: center;

    position:relative;

    top: 12px;

    left: 0px;

}

.testimonial .testimonial-content:after{

    content: "";

    position: absolute;

    bottom: 0;

    left: 0;

    width: 50%;

    height: 1px;

    background-color: #1C743E;

}

.testimonial .testimonial-info{

    position: relative;

}

.testimonial .testimonial-info:before{

    content: "";

    position: absolute;

    top: -50px;

    left: 50%;

    background-color: #1C743E;

    width: 1px;

    height: 20px;

}

.testimonial .testimonial-info:after{

    content: "";

    position: absolute;

    top: -70px;

    left: 50%;

    background-color: #1C743E;

    width: 2px;

    height: 40px;

    transform: skewX(-45deg);

    transform-origin: 100% 100% 0;

}

.testimonial .pic{

    display: inline-block;

    width: 80px;

    height: 80px;

    border-radius: 50%;

    margin-right: 7px;

}

.testimonial .pic img{

    width: 100%;

    height: 100%;

    border-radius: 50%;

}

.testimonial .testimonial-title{

    display: inline-block;

}

.testimonial .testimonial-title a{

    display: block;

    color:#1C743E;

    font-size: 22px;

    text-transform: capitalize;

    font-weight: 700;

    letter-spacing: 1px;

}



.owl-theme .owl-controls{

    margin-top: 50px;

    margin-left: 30px;

}

.owl-theme .owl-controls .owl-page span{

    height:15px ;

    width: 15px ;

    background-color: #A58E38 ;

    opacity: 0.8 ;

    border-radius: 0 ;

    transform:rotate(45deg) !important;

}

.owl-theme .owl-controls .owl-page.active span,

.owl-theme .owl-controls.clickable .owl-page:hover span{

    background-color: #1C743E;

}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

header
        {
        position: absolute;   
        top: 0;
        left: 0;
        width: 100%;
        padding: 2px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(255, 255, 0);
        opacity: 0.9;
        }


        header ul
        {
        position: relative;
        display: flex;
        }

        header ul li
        {
        list-style: none;
        }
        @font-face {
        font-family: 'Rocher';
        src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
        }
        
        header ul li a
        {
        font-family: 'Rocher';
        text-align: center;
        font-size: 30px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        display: inline-block;
        color: orangered;
        font-weight: 400;
        margin-left: 40px;
        text-decoration: underline #555;
        }

        header ul li a:hover
        {
        opacity: 1;
        background: rgb(0, 166, 255);
        box-shadow: 0 0 20px  rgb(0, 166, 255), 0 0 40px  rgb(0, 225, 255), 0 0 80px  rgb(0, 166, 255);
        transition-delay: 0.2s;
        }

.contact{
     background-image: url('background1.jpg');
     background-repeat: no-repeat;
     width: 100%;
        }


/*NEWSLETTER*/
.newsletter{
    background-color: #FFFFFF;
}

.newsletter .content{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
}

.newsletter .content p{
    font-size: 1.5rem;
    line-height: 2;
    color: #219150;
}

.newsletter .content form{
    margin-top: 2rem;
    background: #FFFFFF;
    border-radius: 5rem;
    border: 0.2rem solid #219150;
    padding: .7rem;
    display: flex;
}

.newsletter .content form .email{
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: #FFA520;
    padding: 0 1.3rem;
}

.newsletter .content form .btn{
    margin: 0;
    border-radius: 5rem;
    background: #FFA520;
    color: #6F2900;
    text-shadow: 0 2px #FFCC6A;
}

.newsletter .content form .btn:hover{
    background: #313131;
    color: #FFFFFF;
}






/*FOOTER*/
.footer{
    background-image: url('background1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
}

.footer .box-container .box h3{
    font-size: 2rem;
    padding: 1.5rem 0;
    color: #FFFFFF;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color: #FFFFFF;
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: #219150;
    padding-right: .5rem;
}

.footer .box-container .box a:hover{
    color: #219150;
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}

.footer .credit{
    text-align: center;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #FFFFFF;
}

.footer .credit span{
    color: #FFA520;
}














































        





















































































































